<p id="notice"><%= notice %></p>

<p>
  <strong>Parkingrequest:</strong>
  <%= @parkingevent.parkingrequest %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @parkingevent.datetime %>
</p>

<p>
  <strong>Parkallowed:</strong>
  <%= @parkingevent.parkallowed %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @parkingevent.datetime %>
</p>

<p>
  <strong>Parkcompleted:</strong>
  <%= @parkingevent.parkcompleted %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @parkingevent.datetime %>
</p>

<p>
  <strong>Getbikerequest:</strong>
  <%= @parkingevent.getbikerequest %>
</p>

<p>
  <strong>Getbikecompleted:</strong>
  <%= @parkingevent.getbikecompleted %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @parkingevent.datetime %>
</p>

<%= link_to 'Edit', edit_parkingevent_path(@parkingevent) %> |
<%= link_to 'Back', parkingevents_path %>
